<p-table
  #dt
  [value]="auxiliares()"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="['alias', 'title', 'type']"
  [rowHover]="false"
  dataKey="id"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} auxiliares"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template #caption>
    <nav class="flex">
      <div class="mr-auto">
        <h2 class="!m-0">Campos auxiliares</h2>
      </div>

      <div class="flex flex-row gap-4">
        <p-button label="Añadir" icon="pi pi-plus" severity="primary" (onClick)="openNew()" />

        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Buscar..." />
        </p-iconfield>
      </div>
    </nav>
  </ng-template>

  <ng-template #header>
    <tr>
      <th>Alias</th>
      <th>Título</th>
      <th>Tipo</th>
      <th>Requerido</th>
    </tr>
  </ng-template>

  <ng-template #body let-auxiliar>
    <tr>
      <td>
        <button (click)="editAuxiliar(auxiliar)" class="p-button p-button-text">
          {{ auxiliar.alias }}
        </button>
      </td>
      <td>{{ auxiliar.title }}</td>
      <td>
        <p-tag
          [value]="translateFieldType(auxiliar.type)"
          [severity]="getTypeColor(auxiliar.type)"
        ></p-tag>
      </td>
      <td>
        @if(auxiliar.required) {
        <p-button icon="pi pi-check" severity="success" class="pointer-events-none" />
        }
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="editDialog"
  [style]="{ width: '500px' }"
  header="Campo auxiliar"
  [modal]="true"
>
  <ng-template #content>
    <edit-auxiliares
      #editDialogComponent
      [auxiliar]="$any(editingAuxiliar)"
      [submitted]="submitted"
    />
  </ng-template>

  <ng-template #footer>
    @if (selectedAuxiliar) {
    <p-button
      severity="danger"
      label="Eliminar"
      icon="pi pi-trash"
      outlined
      (onClick)="deleteAuxiliar(selectedAuxiliar)"
    />
    }

    <p-button severity="secondary" label="Cancelar" icon="pi pi-times" (click)="hideDialog()" />
    <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
  </ng-template>
</p-dialog>

<p-confirmdialog />
<p-toast></p-toast>
