@if (displayConnectionLostDialog) {
<p-card>
  <ng-template pTemplate="header">
    <h2 class="text-xl font-semibold leading-relaxed pt-4 px-3">
      {{ 'signalr.title' | translate }}
    </h2>
  </ng-template>

  <div class="text-center py-4 px-3">
    <p class="text-lg text-gray-600">
      {{ 'signalr.connection-lost' | translate }}
    </p>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 p-3">
      <button
        pButton
        type="button"
        [label]="'common.buttons.reset' | translate"
        severity="primary"
        size="large"
        (click)="onClickReconnect()"
        class="w-auto"
      ></button>

      <button
        pButton
        type="button"
        [label]="'common.buttons.close' | translate"
        severity="danger"
        size="large"
        (click)="onClickClose()"
        class="w-auto"
      ></button>
    </div>
  </ng-template>
</p-card>
} @if (displayReconnectingDialog) {
<p-card>
  <ng-template pTemplate="header">
    <span class="font-semibold">
      {{ 'signalr.title' | translate }}
    </span>
  </ng-template>

  <div class="flex flex-col items-center justify-center text-center py-6">
    <p class="text-gray-600 mb-4">
      {{ 'signalr.reconnecting' | translate }}
    </p>
    <p-progressSpinner
      styleClass="mt-2"
      [style]="{ width: '40px', height: '40px' }"
      strokeWidth="4"
    ></p-progressSpinner>
  </div>
</p-card>
} @if (displayConnectingDialog) {
<p-card>
  <ng-template pTemplate="header">
    <span class="font-semibold">
      {{ 'signalr.title' | translate }}
    </span>
  </ng-template>

  <div class="flex flex-col items-center justify-center text-center py-6">
    <p class="text-gray-600 mb-4">
      {{ 'signalr.connecting' | translate }}
    </p>
    <p-progressSpinner
      styleClass="mt-2"
      [style]="{ width: '40px', height: '40px' }"
      strokeWidth="4"
    ></p-progressSpinner>
  </div>
</p-card>
}
