<div class="mb-4">
  <strong class="font-bold">Nº Documento:</strong>
  <span> {{ data?.numeroDocumento || '—' }} </span>
</div>

<div class="mb-4">
  <strong class="font-bold">Nombre:</strong>
  <span> {{ data?.nombre || '—' }} </span>
</div>

<div class="mb-4">
  <strong class="font-bold">Apellidos:</strong>
  <span> {{ data?.apellidos || '—' }} </span>
</div>

<div class="mb-4">
  <strong class="font-bold">Nacionalidad:</strong>
  <span> {{ data?.nacionalidad || '—' }} </span>
</div>

<div class="mb-4">
  <strong class="font-bold">Fecha Nacimiento:</strong>
  <span> {{ data?.fechaNacimiento || '—' }} </span>
</div>

<div class="mb-4">
  <strong class="font-bold">Fecha Expedición:</strong>
  <span> {{ data?.fechaExpedicion || '—' }} </span>
</div>

<div class="mb-4">
  <strong class="font-bold">Fecha Caducidad:</strong>
  <span> {{ data?.fechaCaducidad || '—' }} </span>
</div>

<p-fieldset legend="MRZ" [toggleable]="true">
  <p class="block break-all">
    {{ data?.mrzCode || '—' }}
  </p>
</p-fieldset>
