<p-table
  [value]="consultas"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [rowHover]="false"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} consultas"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template #caption>
    <nav style="display: flex; align-items: center">
      <div style="margin-right: auto">
        <h2 style="margin: 0">Consultas</h2>
      </div>

      <div style="display: flex; flex-direction: row; gap: 1rem">
        <p-button label="Añadir" icon="pi pi-plus" severity="primary" />

        <p-multiselect
          placeholder="Estado"
          [options]="estados"
          [(ngModel)]="estado"
          filter="false"
          showClear="true"
          (onChange)="filterChange($event)"
        ></p-multiselect>

        <p-multiselect
          placeholder="Respuesta"
          [options]="respuestas"
          [(ngModel)]="respuesta"
          filter="false"
          showClear="true"
          (onChange)="filterChange($event)"
        ></p-multiselect>

        <p-select
          showClear="true"
          placeholder="Periodo"
          [options]="periodos"
          [(ngModel)]="periodo"
          (onChange)="filterChange($event)"
        ></p-select>
      </div>
    </nav>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="min-width: 4rem">Referencia</th>
      <th style="min-width: 8rem">Entrada</th>
      <th style="min-width: 8rem">Origen</th>
      <th style="min-width: 8rem">Tiempo respuesta</th>
      <th style="min-width: 8rem">Operador</th>
      <th style="min-width: 10rem">Estado</th>
    </tr>
  </ng-template>
  <ng-template #body let-consulta>
    <tr>
      <td style="min-width: 12rem">
        <button (click)="editConsulta(consulta)" class="p-button p-button-text">
          {{ consulta.trackingNumber }}
        </button>
      </td>
      <td><lib-tiempo-entrada [consulta]="consulta" /></td>
      <td>{{ consulta.creatorName }}</td>
      <td><lib-tiempo-respuesta [consulta]="consulta" /></td>
      <td>{{ consulta.expertName }}</td>
      <td><lib-estado-consulta [consulta]="consulta" /></td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="editDialog" header="Consulta" [modal]="true">
  <ng-template #content>
    <edit-consulta [consulta]="consulta" />
  </ng-template>

  <ng-template #footer>
    <p-button severity="secondary" label="Cancelar" icon="pi pi-times" (click)="hideDialog()" />
    <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
  </ng-template>
</p-dialog>
